<div class="container">
 <div class="bo">単語修正</div>

    <form action="/admins/update/<%= @question.id %>" method="ADMIN">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <div>
            <div>word</div>
            <input name="question_question" type="string" class="form-control" value="<%= @question.question %>">  
        </div>

        <div class="form-group">
            <div>mean</div>
            <textarea name="question_description" class="form-control" rows="2"><%= @question.description %></textarea>
        </div>

         <div class="form-group">
            <div>類似語</div>
            <textarea name="QuestinSimilarWord_similar_word" class="form-control" rows="3"><%= @question_similar_word.similar_word %></textarea>
        </div>

        <button type="submit" class="btn btn-outline-secondary">OK</button>
    </form>
    <div style="text-align:right">
        <%= button_to "単語リスト", admins_index_path,class:"btn btn-outline-secondary" %>
    </div>
</div>

<style>
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 80vh; /* 최소 높이를 화면 높이와 같도록 설정하여 세로 중앙 정렬 */
}
.bo{font-size:3em; text-align:center; font-weight:bold;}

</style>