<div class="container">
<h1>会員情報確認</h1><br>

<%= form_with model: @user, url: "/findpassword/user_confirm" do |f|%>

    <div class="form-group">
        <%= f.text_field :email, class: "input-width",placeholder: "ID(Mail address)" %>
    </div>

    <div class="form-group">
        <%= f.date_select :birthday, 
        { order: [:year, :month, :day], prompt: { year: '年', month: '月', day: '日' } }, class:"date-width" %>
    </div>

    <div style="text-align:right; margin-top: 30px;">
      <%= f.submit "確認",class:"btn btn-secondary", id:"btn-width"%>
      <%= link_to "戻る", home_index_path ,class:"btn btn-secondary", id:"btn-width"%>
    </div>
<% end %>
      
</div>
    
     
   

<style>

.input-width {
  width: 450px; /* 원하는 입력 필드 넓이로 조정 */
}
.date-width{
  width: 147.5px;
}
#btn-width {
  width:222px; /* 버튼 넓이 설정 */
  margin-bottom: 10px; /* 버튼 사이 간격 설정 */
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 90vh; /* 최소 높이를 화면 높이와 같도록 설정하여 세로 중앙 정렬 */
}

.btn0{
  width:200px;
}

 body{
  font-family: 'Noto Sans JP', sans-serif;
  background-color:lightgray;
}
</style>