<style>
 th,td {width:100px; text-align:center;}
 #bo{font-weight:bold;}
 .highlighted {color: red; font-weight: bold;}
 .title {font-size:3.5em; text-align:center; font-weight: bold;}
 .ta{ font-size:1.3em;}
 @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

 body,div,span,th,tr,table{  font-family: 'Noto Sans JP', sans-serif;}
 body{ background-color:whitesmoke;}
</style>

<div class=title>ランキング</div>
<div style="text-align:right">
  <%= button_to "MAIN", main_new_path, style: "font-size: 18px; margin-right:20px;",class:"btn btn-outline-secondary" %>
</div>

<% unless @correct_rate.nan? %>
<div style="margin-left:100px; font-size:1.2em">
お疲れ様でした！<br>
あなたの成績は、10問中<span id="bo"><%= @correct_answers %></span>問正解！
正解率<span id="bo">
<%= @correct_rate_display %>
</span>%で <span id="bo"><%= @user_rank %></span>位です。
</div>
<%end%>

<br><br>

<div class="ta">
<table align="center">
  <tr>
    <th>順位</th>
    <th>名前</th>
    <th>正解数</th>
    <th>正解率</th>
  </tr>

  <% @rankings.each_with_index do |ranking, index| %>
    <% if ranking.name == @user_name %>
      <tr class="highlighted">
    <% else %>
      <tr>
    <% end %>
      <td><%= index + 1 %></td>
      <td><%= ranking.name %></td>
      <td><%= ranking.correct_answers %></td>
      <td><%= ranking.correct_rate.present? ? (ranking.correct_rate).to_i : 0 %>%</td>
    </tr>
  <% end %>
  
</table>
</div>



