<h1 align="center">ランキング</h1>
<div style="text-align:right">
  <%= button_to "MAIN", main_new_path %>
</div>
<div style="margin-left:50px; font-size:1.2em">
お疲れ様でした！<br>
あなたの成績は、50問中<span><%= @correct_answers %></span>問正解！正解率<span><%= @correct_rate %></span>%で<span>0</span>位です。
</div>
<%= @user_name %>

<table align="center">
  <tr>
    <th>순위</th>
    <th>이름</th>
    <th>정답률</th>
  </tr>

  <% @rankings.each_with_index do |ranking, index| %>
    <tr>
      <td><%= index + 1 %></td>
      <td><%= ranking.name %></td>
      <td><%= ranking.correct_rate %>%</td>
    </tr>
  <% end %>
</table>

<h1>퀴즈 결과</h1>
<p>정답 수: <%= @correct_answers %></p>
<p>오답 수: <%= @incorrect_answers %></p> 
<p>rate: <%= @correct_rate %></p> 


