<h2>LOGIN</h2>

<%= form_with(url: "/cookie/sign_in)") do |f|%>
    <%= f.label :email %>
    <%= f.text_field :email %>
    <br>

    <%= f.label :password %>
    <%= f.password_field :password %>

    <%= f.submit "LOGIN" %>
<% end %>